entrypoint = "main.py"
language = "python3"
run = "./.pythonlibs/bin/python main.py"
modules = ["nodejs-20", "python-3.11"]

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[nix]
packages = ["espeak-ng", "libxcrypt", "psmisc", "wget", "openssh", "nano"]

[agent]
expertMode = true
