entrypoint = "run_server.py"
language = "python3"

run = "python run_server.py"

modules = ["nodejs-20", "python-3.11"]

[agent]
expertMode = true

[nix]
packages = ["espeak-ng", "file", "libxcrypt", "mailutils"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80
